@model Auctions.Models.Listing
@using Microsoft.AspNetCore.Identity
@using Auctions.Models
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Лот";
}

@if (User.Identity.IsAuthenticated)
{
    @if (Model.IsSold == true)
    {
        @foreach (var bid in Model.Bids)
        {
            @if (bid.Price == Model.Price)
            {
                @if (bid.IdentityUserId == userManager.GetUserId(User))
                {
                    <h5>Поздравляем, вы победитель!</h5>
                }
                else if (userManager.GetUserId(User) == Model.User.Id)
                {
                    <h5>@bid.User.UserName закрывает этот лот</h5>
                }
                else
                {
                    <h5>Лот закрыт!</h5>
                }
            }
        }
    }
}

<h4 class="text-center">@Model.Title</h4>
<div class="container my-5 p-4" style="background-color: rgba(138, 129, 133, 0.6); border-radius: 10px;">
    <div class="row">
        <div class="col-lg-5">
            <img src="~/Images/@Model.ImagePath" class="img-fluid rounded" alt="@Model.Title">
        </div>
        <div class="col-lg-7 mt-4 mt-lg-0">
            <div class="mb-3">@Model.Description</div>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="AddBid" method="post">
                    <div class="form-group">
                        <label for="bidPrice">Ставка:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="@Model.Price" step="1" class="form-control" id="bidPrice" name="Price" placeholder="@Model.Price.ToString("N2")" required>
                        </div>
                    </div>
                    <input type="hidden" name="IdentityUserId" value="@userManager.GetUserId(User)" />
                    <input type="hidden" name="ListingId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary1">Сделать ставку</button>
                </form>
                <p class="mt-3">Ставок: @Model.Bids.Count</p>
            }
            else
            {
                <div class="form-group">
                    <label for="bidPrice">Ставка:</label>
                    <input type="number" min="@Model.Price" step="1" class="form-control" id="bidPrice" name="Price" placeholder="@Model.Price.ToString("N2")" required disabled>
                </div>
                <p class="mt-3">Количество ставок: @Model.Bids.Count</p>
            }

            @foreach (var bid in Model.Bids)
            {
                <p>Ставка от @bid.User.UserName: $@bid.Price.ToString("N2")</p>
            }

            <div>
                <p>Категория:</p>
                @switch (Model.CategoryId)
                {
                    case 1:
                        <p>Техника</p>
                        break;
                    case 2:
                        <p>Винтаж</p>
                        break;
                    case 3:
                        <p>Искусство</p>
                        break;
                    case 4:
                        <p>Книги</p>
                        break;
                    case 5:
                        <p>Мода</p>
                        break;
                    case 6:
                        <p>Музыка</p>
                        break;
                    case 7:
                        <p>Антиквариат</p>
                        break;
                }
            </div>

            <p>Лот закрывается в: @Model.TimeOfClosure</p>

            <div>Лот от: @Model.User.UserName</div>
            <br />

            @if (User.Identity.IsAuthenticated)
            {
                @if (userManager.GetUserId(User) == Model.User.Id && !Model.IsSold)
                {
                    <div>
                        <a asp-action="CloseBidding" asp-route-id="@Model.Id" class="btn btn-danger">Закрыть лот</a>
                    </div>
                }
            }
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <form asp-action="AddComment" method="post">
            <h6>Добавить комментарий</h6>
            <textarea class="form-control mb-3" aria-label="Добавить комментарий" name="Content" rows="3" required></textarea>
            <input type="hidden" name="IdentityUserId" value="@userManager.GetUserId(User)" />
            <input type="hidden" name="ListingId" value="@Model.Id" />
            <button type="submit" class="btn btn-primary1">Отправить</button>
        </form>
    </div>
}
else
{
    <div class="container">
        <h6>Добавить комментарий</h6>
        <textarea class="form-control mb-3" aria-label="Добавить комментарий" rows="3" disabled></textarea>
        <button type="button" class="btn btn-primary1" disabled>Отправить</button>
    </div>
}

<div class="container">
    <h6 class="mt-5">Комментарии</h6>
    @foreach (var comment in Model.Comments)
    {
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">@comment.Content - @comment.User.UserName</p>
            </div>
        </div>
    }
</div>
