@model PaginatedList<Auctions.Models.Listing>
@{
    ViewData["Title"] = "Техника";
}
<div class="container-category">

    <div class="row-category">
        <div class="col-category">
            <a asp-action="Tech" asp-controller="Listings" class="btn btn-outline-primary btn-category">Техника</a>
        </div>
        <div class="col-category">
            <a asp-action="Vintage" asp-controller="Listings" class="btn btn-outline-primary btn-category">Винтаж</a>
        </div>
        <div class="col-category">
            <a asp-action="Art" asp-controller="Listings" class="btn btn-outline-primary btn-category">Искусство</a>
        </div>
        <div class="col-category">
            <a asp-action="Books" asp-controller="Listings" class="btn btn-outline-primary btn-category">Книги</a>
        </div>
        <div class="col-category">
            <a asp-action="Fashion" asp-controller="Listings" class="btn btn-outline-primary btn-category">Мода</a>
        </div>
        <div class="col-category">
            <a asp-action="Music" asp-controller="Listings" class="btn btn-outline-primary btn-category">Музыка</a>
        </div>
        <div class="col-category">
            <a asp-action="Antiques" asp-controller="Listings" class="btn btn-outline-primary btn-category">Антиквариат</a>
        </div>
    </div>
</div>



@{
    ViewData["Title"] = "Техника";
}

<div class="container">
    <h2>Активные лоты</h2>

    @foreach (var listing in Model)
    {
        <div class="container-lot">
            <div class="row">
                <div class="col col-xs-6 col-lg-5">
                    <img src="~/Images/@listing.ImagePath" style="max-width: 400px; max-height: 400px;" />
                </div>
                <div class="col col-xs-6 col-lg-7">
                    <h5><a asp-action="Details" asp-route-id="@listing.Id" style="color: black;">@listing.Title</a></h5>
                    <div>@listing.Category</div>
                    <div>@listing.Description</div>
                    <div>Ставок: $@listing.Price.ToString("N2")</div>
                    <div>Лот от: @listing.User.Email</div>
                </div>
            </div>
        </div>
    }

    @if (!Model.Any())
    {
        <p>На данный момент никто не разместил лот</p>
    }

    <div class="d-flex justify-content-center">
        <a asp-action="Tech"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-searchString="@ViewBag.SearchString"
           class="btn btn-default @(Model.HasPreviousPage ? "" : "disabled")">
            Предыдущая
        </a>
        <div class="btn1" style="cursor: default">
            Страница @Model.PageIndex из @Model.TotalPages
        </div>
        <a asp-action="Tech"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-searchString="@ViewBag.SearchString"
           class="btn btn-default @(Model.HasNextPage ? "" : "disabled")">
            Следующая
        </a>
    </div>
</div>
